.settings/*
!.settings/language.settings.xml
Debug/*
!Debug/memory_regions.ld
build/
ca55_stack/xrce_dds_agent/build/
ca55_stack/xrce_dds_agent/Micro-XRCE-DDS-Agent/build/
Micro-XRCE-DDS-Client
CustomXRCEAgent
*.o
*.so
*.a
*.d
*.out
*.exe
*.class
*.jar
*.war
*.ear
*.dll
*.dylib
*.pdb
*.idb
*.ilk
*.log
*.tmp
*.swp
*.swo
*.DS_Store
mavlink-*
pymavlink-*
*.elf
*.bin
*.srec
*.map

# External SDK symlink — each developer creates this locally (not committed)
rzv_drp-ai_tvm
ca55_stack/xrce_dds_agent/src/build/
